<!DOCTYPE html>
<html>
    <head>
    <meta name="charset" description="assignment 
    for node.js" content="About Us">
    <link href="https://othniel46.github.io/node-express/aboutus.html"
    content="GitHub Repositories">
    <title>
        <h1>"Assignment For Node.js"</h1>
    </title>
    <style>
        h1 {
            color: blue;
            background-color: darkred;
        }
        p {
            font-style: italic;
        }
    </style>

    </head>
    <body>
	        <p>About Us</p>
            <h2>what are the benefits of Git</h2>
            <p>One of the biggest advantages of Git is its branching capabilities. Unlike centralized version control systems, Git branches are cheap and easy to merge. This facilitates the feature branch workflow popular with many Git users. Feature branches provide an isolated environment for every change to your codebase. Lorem Impsum dolor sit amet.</p>
    
            <br />
            <a href="Home.html">Click to Home Page</a>
    
            <p>This is my new Branch</>
            <p>this is Accounting</>
        <div>This is my push</div> 
    </body>
</html>