<!DOCTYPE html>
 <html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="New Web Online" width="device-width" initial-scale="1" maximum-scale="1">
	<meta name="description" content="New Web Online" content="Bootstrap icons and Button" content="Bootstrap Collapse and Carousels" content="Blogs ">
	<meta name="author" content="New Web Online" content="Blogs ">
	<meta name="New Web Online" content="New Web Online" width="device-width" initial-scale="1" maximum-scale="1">
	<meta name="New Web Online" content="New Web Online" content="Bootstrap icons and Button" content="Bootstrap Collapse and Carousels" content="Blogs ">
	<meta name="New Web Online" content="New Web Online" content="Blogs ">
    <link rel="icon" href="ftp://justbiz.online/domains/public_html/index.html">
    <link rel="icon" href="https://othniel46.github.io/node-express/home.html">
	<link href="theme.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles.css" /> 
	<link href="reset.css" rel="stylesheet" type="text/css"> 
    <link href="base.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="reset.css" rel="stylesheet" type="text/css" /> 
	<link href="base.css" rel="stylesheet" type="text/css" /> 
	<link href="iefi xes.css" rel="stylesheet" type="text/css">  
	    <title> New Web Online </title>
    <script type="text/javascript" src="index.js"> 
		function show_prompt(){
		 var name=prompt("Please enter your name","Chris P. Bacon"); 
		}
		if (name!=null && name!=""){ 
			document.write("Hello " + name + "! How are you today?");
 		}
 	</script>
	<script>   
		$(document).ready(function() {   
 		}); 
		$('#CalorieBox').hide(); 
		});

	</script>
	<script>
		var today= new Date(); 

var hourNow = today.getHours(); var greeting; 

if (hourNow > 18) { 

greeting= 'Good evening'; 

} else if (hourNow > 12) {

 greeting= 'Good afternoon'; 

} else if (hourNow > O) { 

greeting 'Good morning'; 

} else { 

greeting 'Welcome';

} 

document.write(greeting);
</script>

<script>
var today= new Date(); 

var hourNow = today.getHours(); 

var greeting; 

if (hourNow > 18) { greeting= 'Good evening!';

} 

else if (hourNow > 12) { greeting= 'Good afternoon!';

} 

else if (hourNow > 0) { greeting= 'Good morning!';

} 

else { greeting= 'New Web Online!';

}

 document.write('<h3>' +greeting + '</h3>');
</script>
 <script src="index.js"></script> 
<script>document.write('<h3>New Web Online</h3>'); </script> 
        </head>
      <body>
<span>A new normal way of life.</span> 
<p>Everything you are looking for are all here to help us cope in this new age of great reset. <a href="https://justbiz.online/domains/public_html/index.html"></p>
  <div class="w3-container w3-dark-grey">
  </div>

  <img src="images/logo.jpg" alt="New Web Online" width="180 height="320">
    <div class="w3-panel w3-blue-grey w3-display-container">
    <span class="w3-button w3-display-topright"><h1>New Trends Across The Globe</h1></span>
<p id="demo">Everything in a right time and in the right place. Human in its nature experience many struggles in life, and always find ways to solve problems that already existed, present or that will come. It is how human continue to exist and survived in this familiar or mysterious planet. We have all goals and objectives in life, <strong>a harmonious and happy family, dream house and cars, overflowing of income, and to  travel abroad</strong>. In this present, our ultimate goal is to have a healthy body, for ourselves, our family or loved ones, and people who are near to us.</p>

<button type="button" onclick="document.getElementById('demo').style.display='none'">Click Me!</button>
  </div>
 </div>
  <a href="#" class="w3-bar-item w3-button">Contact</a>
	          <li src="images/dreams.jpg" 
		  data-slide-to="images/dreams.jpg"></li>
			 <div class="item" id="wrap">
				<img src="images/dreams.jpg" 
			alt="images/dreams.jpg" 
			width="200" img src="images/dreams.jpg">
			 </div>
	      </div>
                        <p>We are experiencing a New Normal way of life. </p>
	 	       <hr />
              <video width="200" controls>
  <source src="video.mp4" type="video/mp4">
  <source src="video.ogg" type="video/ogg">
  <iframe width="200" height="200" 
  src="https://youtu.be/rtGIwqVdLa4" 
  frameborder="1" allowfullscreen>Lips of an Angel</iframe>
</video>
<p>
Click to watch videos.
<a href="https://youtu.be/rv4-gH1EtPg" target="New Web Online">I Don't Wanna Miss A Thing</a>
</p>

<p>
<a href="https://youtu.be/I1QHtMVoz9U.." 
target="New Web Online">Smooth</a>
</p>
           <div class="carousel-inner" role="listbox"></div>
		    <a class="left carousel-control" href="https://justbiz.online/domains/public_html/index.html" role="button" data-slide="1">
			<span class="glyphicon glyphicon-chevron-left, sr-only" aria-hidden="true"></span>
		    </a>
              <a class="right carousel-control" href="https://justbiz.onlinelp/domains/public_html/images" 
		 role="button" data-slide="2">
		<span class="glyphicon glyphicon-chevron-right"
		 aria-hidden="true">
		 </span>
		<span class="sr-only">
		 </span>
		</a>

                 <h2></h2>

	      <div id="carousel-example-generic, wrap, masthead" class="carousel slide" data-ride="carousel"></div>
		  <li class="carousel-indicators">
			 <li src="https://justbiz.online/domains/public_html/index.html" 
		  data-slide-to="0" class="active"></li>
			 <div class="carousel-inner" role="listbox"></div>
			 
			 <div class="item active" id="wrap">
				 <a href="https://justbiz.online/domains/public_html/index.html">
			 <li src="https://justbiz.online/domains/public_html/index.html" 
		  data-slide-to="0" class="active"></li>
			 <div class="carousel-inner" role="listbox">
			 <div class="item active">
				 <a href="https://justbiz.online/domains/public_html/index.html">
				<img src="images/mustang01.jpg" 
			alt="images/mustang01.jpg" 
			width="200"></a>
			 </div>
			 
			 <li src="images/mustang02.jpg" 
		  data-slide-to="images/mustang02.jpg"></li>
			 <div class="item">
				<img src="images/mustang02.jpg" 
			alt="images/mustang02.jpg" 
			width="200">
			 </div>
			 
			 <li src="images/mustang03.jpg" 
		  data-slide-to="images/mustang03.jpg"></li>
			 <div class="item"><img src="images/mustang03.jpg" 
			alt="images/mustang03.jpg" 
			width="200">
			 </div>
			 
			  <li src="images/mustang04.jpg" 
			data-slide-to="images/mustang04.jpg"></li>
			  <div class="item"><img src="images/mustang04.jpg"
			alt="images/mustang04.jpg" 
			width="200"></div>
                   <li src="images/mustang05.jpg" 
			data-slide-to="images/mustang05.jpg"></li>
			  <div class="item"><img src="images/mustang05.jpg"
			alt="images/mustang04.jpg" 
			width="200"></div>
                   <li src="images/mustang06.jpg" 
			data-slide-to="images/mustang06.jpg"></li>
			  <div class="item"><img src="images/mustang06.jpg"
			alt="images/mustang06.jpg" 
			width="200"></div>
                  <li src="images/mustang07.jpg" 
			data-slide-to="images/mustang07.jpg"></li>
			  <div class="item"><img src="images/mustang07.jpg"
			alt="images/mustang07.jpg" 
			width="200"></div>
                  <li src="images/mustang08.jpg" 
			data-slide-to="images/mustang08.jpg"></li>
			  <div class="item"><img src="images/mustang08.jpg"
			alt="images/mustang08.jpg" 
			width="200"></div>
                   <li src="images/mustang09.jpg" 
			data-slide-to="images/mustang09.jpg"></li>
			  <div class="item"><img src="images/mustang09.jpg"
			alt="images/mustang09.jpg" 
			width="200"></div>
                  <li src="images/mustang10.jpg" 
			data-slide-to="images/mustang10.jpg"></li>
			  <div class="item"><img src="images/mustang10.jpg"
			alt="images/mustang10.jpg" 
			width="200"></div>

		  <div class="carousel-inner" role="listbox">
		  </div>
		  <a class="left carousel-control" href="https://justbiz.online/domains/public_html/index.html" 
		role="button" data-slide="">
			 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			 <span class="sr-only"></span>
		  </a>
		  <a class="right carousel-control" href="https://justbiz.online/domains/public_html/index.html" 
		role="button" data-slide="">
			 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			 <span class="sr-only"></span>
		  </a>
		</div>
	  <div>
		  <form name="submitform" action="register.php" method="post" target="_blank"
			onsubmit="return formValidator(leadform)">
		<table width="350" align="center" bgcolor="33FFFF">
		<tr> 
		 <td width="350" height="250">
		 <p text-color="#FF0000" size="5" text-align="center" face="Verdana, Arial, Helvetica, sans-serif"><strong>#</strong></p>
		</div>
		<hr />	
	 <p><h4>#</h4></p>
	  <hr />	 
	  First Name:
		<input type="text" name="firstname"><br>
	  Middle Name:
		<input type="text" name="middlename"><br>
	  Last Name:
		<input type="text" name="lastname"><br>
       Marital Status:<br>
		<select><option>Single</option>
	 <option>Married</option> 
	  <option> Widow </option>
	 </select><br>
	 Address:
	<input type="text" name="address"><br>
  Occupation:
	<input type="text" name="occupation"><br>
  Contact Number:
	<input type="text" name="contactnumber"><br>
   Email Address:
	<input type="text" name="emailaddress"><br>
		<hr />
         <tr>
	 <td><input type="button" name="#" value="Submit" onclick="show_prompt()"></td>
 </tr>		
</table>
 </form>
</div>
<!-- panel-body-->                 
<div class="panel-body">
 <table colspan="2" background="https://justbiz.online/domains/public_html/index.html"  style="width:120%"  text="blue"  
 background-color="#90ee90"> 
<thead>
<tr> 
<th colspan="5" text-color="darkalmond"><h1>#</h1>
</th> 
</tr>
</thead> 
 <tr>
 <td colspan="1" text-color="darkalmond">#
 </td>
 <td>#</td>
  <td>#</td>
  <td>#</td>
 <td>#</td>
 </tr>
 <tr> 
 <td>#<br>#</td>
 <td>#</td>
<td>#</td>
<td>#</td>
 <td>#<br></td>
 </tr>
</table>                 
</div>	
<div id="footer"> 
<p>Copyright New Web  Online 2016 </p> 
<p>Registration on or use of this site constitutes acceptance of our <a href="useragreement.html"> user agreement </a> and <a href="privacy.html">Privacy Policy.</a>
</p> 
</div>

   
<!-- /container -->
	  <div class="container well">
		<h3>
			
		</h3>
	  </div> 
				 <p class="footertext"> </p>
				  <br>
				</div>

				<div class="col-md-4">
				  <br>
				 <div class="row">
					 <hr />
				  <p>
						<a>Contact Us</a>
						</p>
						
					 <p>Copyright 2016</p>
					<br>
						  
					<div id="fb-root">
					</div>
					 <div class="fb-follow" 
					 data-href="https://www.facebook.com/Onat40/" 
					 data-layout="standard" data-show-faces="true">
					  <a target="_blank" title="follow me" href="https://m.facebook.com/Onat40/?ref=bookmarks">
						  <img alt="Follow Us" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border="0">
					  </a>
					 </div>
					<br>
					  <address>Jonathan A. Sadullo<br>
					  +639503873918<br>
					  justbiz40@gmail.com<br>
					  </address>
						<hr />
					 <div>
					  <a class="navbar-brand" 
					  href="https://justbiz.online/domains/public_html/index.html">
					  </a>
					 </div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
				  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
					<script src="window.jQuery || document.write"></script> 
					<script src="../../assets/js/vendor/jquery.min.js"></script>
					 <script src="../../dist/js/bootstrap.min.js"></script>
					<script src="../../assets/js/docs.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
				  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
					<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
				  <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
					<script src="../../assets/js/ie-emulation-modes-warning.js"></script>

<!--complied jquery and bootstrap js-->
				  <script src="jquery/jquery-1.11.3.min.js">
				 </script>

				<script>(function(d, s, id) {
				 var js, fjs = d.getElementsByTagName(s)[0];
				}
				  if {
					(d.getElementById(id)) 
					return;
					js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
				 fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			  </script>

			 <script src="bootstrap-3.3.5/js/bootstrap.min.js">
			 </script>

			 <script src="js/blueimp-gallery.js">
			 </script>

<!-- Hotjar Tracking Code for http://www.justbiz.online -->
			 <script>
			  (function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				 h._hjSettings={hjid:213279,hjsv:5};
				  a=o.getElementsByTagName('head')[0];
				 r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			  a.appendChild(r);
			 })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
			</script>

<!--- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

<!-- Hosting24 Analytics Code -->
			<script type="text/javascript" src="http://stats.hosting24.com/count.php"></script>

<!-- End Of Analytics Code -->
			<script>
			  (function(d, s, id) 
				{
				var js, fjs = d.getElementsByTagName(s)[0];
				 if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
			 fjs.parentNode.insertBefore(js, fjs);
			}
		  (document, 'script', 'facebook-jssdk'));
		 </script>
		</body>
	  </html> 